.navigation {

  &-back {
    width:6rem;
    height:6rem;
    border-radius:50%;
    position:fixed;
    top:6.5rem;
    right:6.5rem;
    background-image:radial-gradient($color-primary-light , $color-primary-dark);
    z-index:100;
    /*transform: scale(50);*/
    transition: all .8s cubic-bezier(0,1.01,.39,1);

  }

  &-checkbox { display: none;}
 


  &-btn {
    position: fixed;
    background-color:$coloe-white;
    width:7rem;
    height:7rem;
    top:6rem;
    right:6rem;
    border-radius: 50%;
    z-index: 1900;
    text-transform: uppercase;
    box-shadow: 0 1rem 3rem rgba($color-black,.15);
    cursor: pointer;
    text-align: center;


  }

  &-icon {
    margin-top: 3.5rem;
    position: relative;
    &,&::after,&::before {
      width: 3.5rem;
      height: 2px;
      background-color: $coloe-grey-drak;
      display: inline-block;
    }

    &::after,&::before{
      content:"";
      position: absolute;
      right: 0;
      transition: all .4s ease-out;
    
      
    }
    &::after{top: -.8rem;}
    &::before{top: .8rem;}




  }
  
  &-btn:hover  &-icon::after{
    top: -1rem;
  }
  
  &-btn:hover  &-icon::before{
    top: 1rem;
  }

  &-checkbox:checked ~ &-btn &-icon {
    background-color: transparent;
  }

  
  &-checkbox:checked ~ &-btn &-icon::after {
    top:0;
    transform: rotate(135deg);
  }
  
  &-checkbox:checked ~ &-btn &-icon::before {
    top: 0;
    
    transform: rotate(-135deg);
  }

 


  &-nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1500;
    opacity: 0;
    transition: all .8s;
  }

  &-list {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;


  }

  &-item {
    margin: 1rem;
   
    

  }


  &-link{
  &:link,&:visited{
      display: inline-block;
      
      padding: 1rem 2rem;
      text-transform: uppercase;
      color: #fff;
      font-size: 3rem;
      text-decoration: none;
      font-weight: 300;
      background-image: linear-gradient(120deg,transparent 0%,transparent 50%,
      $coloe-white 50%);
      background-size: 220%;transition: all 1s;
      border-radius: .8rem;

      span{margin-right: 1rem ;display: inline-block ;}
    }
    &:hover,&:active{

      background-position: 100%;
      color:$color-primary;
      transform: translateX(1rem);
    }






    

   

  }
  &-checkbox:checked ~ &-back{
    transform: scale(80);
  }
  &-checkbox:checked ~ &-nav{
    width: 100%;
    opacity: 1;
  }
  
  
  
  
  
}







